.product-card h4,
.product-card h5,
.sorting label,
.sorting h3 {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.filter-label {
  margin-bottom: 3px;
}

.sorting label {
  font-size: 12px;
  color: #aaaaaa;
}
.out-of-stock {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #f3444a;
  vertical-align: middle;
  position: absolute;
  z-index: 20;
  /* margin-top: 62px; */
  top: 30%;
  left: 0;
  right: 0;
  text-transform: uppercase;
}

.out-of-stock-back {
  opacity: 0.2;
}

.sorting h3 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  color: #444444;
  display: inline-block;
  margin-right: 18px;
}

.filter-tags div {
  display: inline-flex;
  margin-right: 12px;
  position: relative;
  height: 24px;
  padding: 0px 8px;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: left;
  width: fit-content;
  width: -moz-max-content;
  width: intrinsic;
  align-items: center;
}

.filter-tags div span,
.filter-tags div button {
  font-size: 12px;
  color: #999;
}

.filter-tags div button {
  margin-left: 10px;
  font-size: 9px;
}

.filter-tags div:last-child {
  margin-right: 0px;
}

.product-card {
  position: relative;
  width: 100%;
  background-color: #fff;
  position: relative;
  /* height: 300px; */
  border-radius: 5px;
  height: -moz-fit-content;
  height: fit-content;
  height: intrinsic;
}

.shop-card {
  position: relative;
  width: 100%;
  background-color: #fff;
  /* padding: 10px; */
  position: relative;
  height: 253px;
  border-radius: 5px;
  cursor: pointer;
}

.shop-card a {
  width: 120px;
  height: 40px;
  object-fit: contain;
  border-radius: 100px;
  border: solid 1px #f3444a;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  color: #f3444a;
}

.shop-card h2 {
  text-align: center;
  font-size: 14px;
  font-weight: 500 !important;
  line-height: 1.21;
  letter-spacing: normal;
  color: #424242;
}

.shop-bg-top {
  /* background: url('../../assets/images/shop-card.png'); */
  background-size: cover !important;
  width: 100%;
  height: 107px;
  position: relative;
  margin-bottom: 48px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.shop-card-avatar {
  width: 93.7px;
  height: 93.7px;
  border-radius: 47px;
  background: #5b9dd0;
  border: solid 5px #ffffff;
  position: absolute;
  bottom: -30px;
  background-size: cover !important;
}

.shop-card-avatar-discover {
  width: 93.7px;
  height: 93.7px;
  border-radius: 47px;
  background: #5b9dd0;
  position: absolute;
  bottom: -30px;
  background-size: cover !important;
}

.product-card-info-wrapper {
  padding: 0 10px;
  margin-top: 0px;
  margin-bottom: 15px;
  color: #444444;
}

.edit-price-container {
  padding: 0 10px;
  margin-bottom: 10px;
}
.edit-price-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.price-currency-container {
  display: flex;
  align-items: center;
}
.add-to-cart--container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.add-to-cart--btn {
  height: 40px;
  width: 100% !important;
  border-radius: 100px;
  border: solid 1px #5a9ae5;
  color: #5a9ae5;
  text-align: center;
  margin: 0 10px 10px 10px;
  cursor: pointer;
  white-space: nowrap;
}

.product-title-container a {
  line-height: 1.5em;
  overflow: hidden;
  /* height: 42px; */
  height: 55px;
  /* height: 2.5em; */
  /* height is 2x line-height, so two lines will display */
}

.edit-price-container h3,
.edit-price-container span {
  font-size: 14px;
  font-weight: 500;
}

.edit-price-container span {
  font-size: 12px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-seller-name {
  flex: 1;
  color: #999999 !important;
  font-weight: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-seller-pic {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
  flex: 0.1 !important;
}

.pending-product {
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  width: intrinsic;
  /* width: 160px; */
  padding: 0px 15px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  border-radius: 5px;
  background-color: #ef464f;
  top: 20px;
  font-size: 13px;
  left: 0;
  right: 0;
  margin: auto;
  color: #ffffff;
  z-index: 5;
}

.pending-product svg {
  margin-right: 5px;
}

.product-card .like {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  cursor: pointer;
}

.product-card .like img {
  height: 21px;
}

.product-card:hover {
  box-shadow: 0px 0px 5px #e8e8e8;
}

.product-card .img {
  background-size: contain;
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 100%;
  height: 203px;
  /* padding: 10px 20px; */
  margin-bottom: 8px;
  display: block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.product-card h4,
.product-card a {
  font-size: 14px;
  color: #424242;
  /* margin-bottom: 20px; */
  display: block;
}

.product-card a:hover {
  color: #f3444a;
}

.product-card h4.price {
  font-weight: 500;
  color: #444444;
  margin-bottom: 3px;
}

.product-card h4 span {
  margin-left: 5px;
}

.product-card h5 {
  font-size: 10px;
  color: #999999;
  text-decoration: line-through;
}

.call-the-seller-wrapper {
  display: flex;
}

.call-the-seller {
  width: 225px;
  height: 90px;
  border-radius: 5px;
  background-color: #fafafa;
  padding: 14px 0 0 18px;
  
}

.head-phone-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  /* margin-bottom: 10px; */
}
.head-phone-container h4 {
  color: #5a9ae5 !important;
  font-weight: 300 !important;
  margin: 0 7px 0 7px;
}
.remain-item {
  color: #ef464f;
}


/* @media only screen and (max-width: 321px) { */
@media only screen and (max-width: 1025px) {
  .product-card {
    padding: 7px;
  }

  .product-card .img {
    height: 145px;
    margin-bottom: 5px;
  }

  .product-card h4,
  .product-card a {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .product-card h4.price {
    margin-bottom: 1px;
  }

  .product-card h4 span {
    margin-left: 2px;
  }
}

@media only screen and (max-width: 360px) {
  .product-card-info-wrapper {
    padding: 0 5px;
  }
}


@media (min-width: 800px) {
}

.price-product-card {
  font-size: 14px !important;
  font-weight: 500 !important;
}
.card-en {
  margin: 0px 0px 7px 0px !important;
}
.shop-name-discover {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  color: #424242;
}
