.tabs {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
}
.tab-list {
  display: flex;
  border-bottom: 1px solid #ccc;
  align-content: center;
  justify-content: space-around;
  position: relative;
}

.tab-list-item {
  list-style: none;
  display: flex;
  flex-direction: column;
  color: #d4d9dd;
  width: 33%;
}

.tab-list-active {
  background-color: white;
  color: #6395ce;
}

.tab-list-item > .indicator {
  bottom: -1px;
  background: none;
  border-bottom: 1px solid #6395ce;
  position: absolute;
  width: 33%;
}
.tab-list-item:hover {
  cursor: pointer;
}
.tab-label {
  align-self: center;
  padding: 16px 0px;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 415px) {
  .tab-label {
    font-size: 10px;
  }
}
